body {
    background-color: #fff8dc;
    font-family: Arial;
}

h1 {
    color: darkgreen;
    text-align: center;
}

p {
    color: black;
}

.caja {
    background-color: lightblue;
    border: 4px solid blue;
    padding: 10px;
}
